@page
@model Index
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AspNetCoreWebAppTest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreWebAppTest.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#sendMessageForm").submit(function (event) {
                event.preventDefault(); // Normal form gönderimini engelle
              
                var message = $("#kafkaMessage").val(); // Input değerini al

                $.ajax({
                    type: "POST",
                    url: "/Home/ProducerKafkaMessage",
                    data: { message: message },
                    success: function (data) {
                        // İşlem başarılıysa burası çalışır
                        //alert("Mesaj başarıyla gönderildi");                        
                        $("#AllMessages").val($("#AllMessages").val() + "\nAspNet: " + $("#kafkaMessage").val() + "\n");
                        $("#kafkaMessage").val("");
                    },
                    error: function () {
                        // Hata oluşursa burası çalışır
                        alert("Producer bir hata oluştu");
                    }
                });
            });
        });
        $(document).ready(function () {

            // Mesaj Gönder Fonksiyonu
            // ...

            // Mesajları Getir Fonksiyonu
            $("#getMessagesForm").submit(function (event) {
                event.preventDefault(); // Normal form gönderimini engelle
                $("#lblGetMessageStatus").text("Mesaj getiriliyor...");
                $.ajax({
                    type: "GET",
                    url: "/Home/ConsumeKafkaMessages",
                    success: function (data) {
                        // İşlem başarılıysa burası çalışır
                        // 'data' değişkeni sunucudan gelen veriyi içerir
                        $("#AllMessages").val($("#AllMessages").val() + data);
                        // Burada gelen veriyi sayfada göstermek için işlemler yapabilirsiniz
                        $("#lblGetMessageStatus").text("Mesaj getirildi.");
                    },
                    error: function () {
                        // Hata oluşursa burası çalışır
                        alert("Consumer bir hata oluştu");
                    }
                });
            });
        });
    </script>


</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <!-- Kafka Mesaj Gönder Formu -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-group mb-3">
                            <form id="sendMessageForm">
                                
                                <textarea class="form-control" id="AllMessages" name="message" style="height: 200px; width: 100%;"></textarea>

                     
                                <input type="text" class="form-control" style="margin-top:20px" id="kafkaMessage" name="message" placeholder="Mesajınızı yazın">

                                <!-- Form içeriği -->
                                <button type="submit" style="margin-top:20px" class="btn btn-primary">Mesaj Gönder</button>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Kafka Mesaj Al Formu -->
                <div class="card">
                    <div class="card-body">
                        <form id="getMessagesForm">
                            <button type="submit" class="btn btn-secondary">Mesajları Getir</button>
                            <label id="lblGetMessageStatus" />
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>