@page
@model Index
@{
    
}

<div class="text-center">

    <form method="post" action="/Home/ConsumeKafkaMessage">
        <button type="submit" class="btn btn-primary">Kafka Mesajı Getir</button>
    </form>
</div>
