# Derleme sonuçlarını içeren bin ve obj klasörleri yoksayılır.
**/[Bb]in/
**/[Oo]bj/

# .NET Core projelerinde oluşabilecek log dosyaları ve geçici dosyalar.
*.log
*.log.*
*.tmp

# IDE ve editöre özgü ayar dosyaları (örneğin Visual Studio için).
*.user
*.userosscache
*.suo
*.userprefs
*.pdb
*.opendb

# Entity Framework kullanımında migrations harici dosyaları yoksay.
**/Migrations/*.cs
!**/Migrations/*.Designer.cs

# Paketlenmiş uygulama dosyaları ve yayımlama profilleri.
*.nupkg
*.snupkg
*.pubxml
*.publishsettings


# Yaygın olarak yoksayılması gereken diğer dosya türleri.
*.cache
*.ilk
*.ncb
*.sdf
*.swp
*.DS_Store

# Özel olarak eklenmesi gereken dizinler veya dosyalar varsa buraya eklenebilir.
# Örneğin:
# /path/to/specific/file/or/directory
